@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;1,100;1,200;1,300&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 24px;
  position: relative;
}

.header > .header-logo {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #6070ff;
  padding: 14px 0;
}

.header-menu-btn > * + * {
  margin-top: 3px;
}

.header-menu-btn > .menu-btn__ham {
  width: 16px;
  height: 2px;
  border-radius: 2px;
  background: #6070ff;
}

main {
  background-color: #e5e5e5;
}

.main {
  background-image: url("/images/header-shapes\ mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 114px 0;
  background-color: #fff;
}

main > .main {
  border-radius: 0 0 0 100px;
  width: 100%;
}

.main > .headline-section__box {
  display: flex;
  flex-direction: column;
}

.headline-section__box > * + * {
  margin-top: 12px;
}

.headline-section__box > .headline-section__title,
.headline-sec > .headline-section__title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  font-style: normal;
}

.headline-section__box > .headline-section__cont {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.headline-section__sub-title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #7f8cff;
  line-height: 24px;
  font-size: 18px;
}

.headline-section__social {
  list-style: none;
  display: flex;
  gap: 10px;
}

.work-section-box {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 80px;
  margin-top: 100px;
  transition: all 0.5s ease-in-out;
}

.work-section {
  padding: 16px 16px 28px 16px;
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  align-items: center;
}

.work-section-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 44px;
  color: #172b4d;
  font-size: 32px;
  word-wrap: break-word;
}

.subtitle-list {
  display: flex;
  align-items: center;
  height: 30px;
  gap: 10px;
}

.circle-dot {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 50%;
}

.subtitle-canopy {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.subtitle-stack {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.work-section-description {
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.work-section-stack {
  gap: 10px;
  list-style-type: none;
  padding-left: 0;
}

.work-section-stack li {
  float: right;
  margin-right: 10px;
}

.tech-stack {
  padding: 4px 12px;
  border: none;
  background: #ebebff;
  border-radius: 8px;
  color: #6070ff;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.03em;
  line-height: 16px;
}

button {
  transition: all 0.5s ease-out;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #6070ff;
  text-align: center;
  padding: 12px 16px;
  border-radius: 8px;
  border: none;
}

button:hover {
  background: #6070ff;
  color: #fff !important;
}

.btn {
  border: 1px solid #6070ff !important;
  border-radius: 16px;
  padding: 12px;
  font-weight: 500;
  font-size: 17px;
  line-height: 17px;
  letter-spacing: 0.03em;
  text-align: center;
  background: none;
  color: #6070ff;
}

/* ---about section---- */

.about-section {
  border-radius: 0 100px 0 0;
  background-color: #fff;
  margin-top: 100px;
}

.about-section-box {
  display: flex;
  flex-direction: column;
  padding-top: 142px;
  padding-bottom: 142px;
}

.resume {
  width: 50%;
  margin: 22px 0 48px;
}

.language-section > h4 {
  font-weight: 500;
  line-height: 24px;
  font-size: 20px;
  color: #000;
}

.language-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.language-section:not(:first-child) {
  border-bottom: 1px solid #dfe1e6;
}

.drop-down {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: none;
  padding: 23px 8px;
  font-size: 20px;
  line-height: 24px;
  background-color: #fff;
}

.drop-down > .glyphicon {
  font-size: 16px;
  color: #acb7c3;
}

.language-section-box-sec {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.language-section-box {
  display: flex;
  align-items: center;
  padding: 5px 0 5px 5px;
  width: 100%;
  margin-top: 12px;
  background-color: #f7f7f9;
  border-radius: 5px;
}

.language-name {
  margin-bottom: 0;
  margin-left: 24px;
}

.language-section-container {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.language-title-section {
  display: flex;
  justify-items: flex-end;
  align-self: stretch;
}

/* --contact-section-- */
.contact-form {
  background-color: #6070ff;
  background-image: url("./images/contact\ form\ shapes-mobile.svg");
  background-repeat: no-repeat;
  border-radius: 80px 0 0 0;
  background-position-x: 100%;
  background-position-y: 30px;
}

.contact-form-section {
  display: flex;
  flex-direction: column;
}

.contact-form-card {
  text-align: center;
  color: #fff;
}

.contact-form-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

.contact-form-description {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: 15px;
  margin-right: 10px;
}

form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  padding: 15px 16px;
  border: none;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
}

input {
  width: max-content;
  margin-bottom: 23px;
  margin-left: 15px;
}

textarea {
  width: auto;
  margin-left: 15px;
  margin-right: 15px;
}

.submit-button {
  margin-left: 15px;
  margin-bottom: 40px;
  margin-top: 15px;
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 10px 12px;
    margin: 15px 154px;
    display: flex;
    align-items: center;
  }

  .desktop-navigation > ul {
    display: flex;
    transform: translateY(-50%);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 20px;
    text-align: center;
  }

  .desktop-navigation > ul > li + li {
    margin-left: 32px;
  }

  .main {
    background-image: url("./images/Header-bg-desktop.png");
  }

  .main > .headline-section__box {
    max-width: 920px;
    margin: 0 auto;
    padding: 0;
    animation: 0.75s 1 alternate slider;
  }
}
